@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
	--primary-color: #fff;
	--theme-color: #147EFB;
	--secondary-color: #2d2d2d;
	--radius: 20px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	font-family: 'Rubik',sans-serif;
}
body, html {
	min-height: 100%;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: var(--secondary-color);
}
/*   The Phonebook Container*/
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 360px;
	height: 600px;
	background: url('/macos.jpg');
	background-size: cover;
	background-position: center;
	border-radius: var(--radius);

	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.screen {
	height: 95%;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-top-right-radius: var(--radius);
	border-top-left-radius: var(--radius);
}
/*.screen > h1 {
	color: var(--primary-color);
}*/
/*   Sidenav for Previewing Contact info  */
.preview-contact {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--secondary-color);
	height: 100%;
	width: 0;
	opacity: 0;
	z-index: 1;
	display: flex;
	visibility: hidden;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 40px 15px;
	border-radius: var(--radius);
	color: var(--primary-color);
}
.show-section {
	visibility: visible;
	width: 100%;
	opacity: 1;
	transition: .25s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
.profile {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: var(--theme-color);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}
.display-contact {
	width: 100%;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.input {
	width: 100%;
	background: transparent;
	padding: 8px 2px;
	outline: none;
	border-color: transparent;
	border-bottom-color: var(--primary-color);
	border-radius: 5px;
	font-size: 1.1rem;
	font-weight: bold;
	color: var(--primary-color);
}
.input {
	background: var(--primary-color);
	color: #000;
}
.input:disabled {
	background: transparent;
	color: #fff;
}
.btn {
	width: 80px;
	height: 30px;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 5px;
}
.close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 1.1rem;
}
/*  Bottom Nav for creating New Contacts  */
.nav {
	height: 10%;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-radius: var(--radius);
	background: transparent;
	transition: .25s all ease;
}
.visible {
	border-top: 2px solid #000;
	background: var(--secondary-color);
	color: #fff;
	transition: .25s all ease;
	padding: 50px 15px;
	height: 90%;
}
.add-contact {
	height: 100%;
	opacity: 0;
	visibility: hidden;
}
.add-contact > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.nav.visible .add-contact {
	visibility: visible;
	opacity: 1;
	transition: 1s all ease;
}
.add-contact-btn {
	position: absolute;
	top:0;
	left: 50%;
	height: 50px;
	width: 50px;
	transform: translateX(-50%);
	background: var(--secondary-color);
	border-radius: 50%;
	border: none;
	font-size: 1.8rem;
	cursor: pointer;
	color: var(--primary-color);
	transition: 100ms all ease;
}
.nav.visible .add-contact-btn {
	background: transparent;
	transition: 100ms all ease;
}
.contacts {
	width: 100%;
	height: 86%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	overflow-y: scroll;
	-ms-overflow-style: none;
    scrollbar-width: none;
}
.contacts::-webkit-scrollbar {
	display: none;
}
i {
	color: var(--primary-color);
}
.contacts > li {
	width: 100%;
	background: var(--secondary-color);
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 0px;
}
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search {
	padding: 8px;
	border-radius: 5px;
	border: none;
	outline: none;
	font-weight: bold;
	background: var(--secondary-color);
	color: #fff;
}
.save,
.hide-btn {
	display: none;
}
.show-btn {
	display: block;
}
.action-btns {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	gap: 15px;
	align-items: flex-end;
}
.btn:hover {
	background: transparent;
	color: var(--primary-color);
}
@media only screen and (max-width: 400px) {
	.container {
		width: 100vw;
		height: 100vh;
	}
	.search {
		width: 50%;
	}
	.container,.preview-contact {
		border-radius: 0;
	}
	.nav {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

}
